
p {
	font-size: 20px
}


.header {

    background-color: white;
	height: 100px;
	width: 100%;
	z-index: 10;
	position: fixed;
	top: 0px;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	
	
}



.header img {
	height: 80px;
	width: 80px;
}

#player1 {
	
	position: absolute;

}

#player2 {

	position: relative;
	top: 200px;
}

#racetrack {
	background-image: url("http://jessperna.com/images/covers/race_track_art_drawing.jpg");
	background-size: cover;
	height: 450px;
	width: 95%;
	position: fixed;
	margin: 100px 0px 0px 50px;
	border-radius: 50px;
    font-size: 50px;
    font-color: blue;
}


#content {
	position: relative;
	background: beige;
	width: 95%;
	height: 1000px;
	margin-left: 35px;
	top: 580px;
	border-radius: 50px;
}


#finish {
	background-color: blue;
	width: 10px;
	height: 600px;
	
	margin-left: 1100px;
	position: fixed;

}

h