
p {
	font-size: 20px
}


.header {

	height: 100px;
	
	width: 100%;
	z-index: 10;
	position: fixed;
	top: 0px;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	
	
}


.header img {
	height: 80px;
	width: 80px;
}



#player1 {
	position: relative;
	

	
}

#player2 {

	position: relative;

	
}

#finish {

}	



#racetrack {
	background-color: yellow;
	height: 450px;
	width: 95%;
	position: fixed;
	margin: 100px 0px 0px 50px;
	border-radius: 50px;

}


#content {
	position: relative;
	background: beige;
	width: 95%;
	height: 1000px;
	margin-left: 35px;
	top: 580px;
	border-radius: 50px;
}

